:root {
  --colors-gray-50: #f9fafb;
  --colors-gray-100: #f3f4f6;
  --colors-gray-600: #4b5563;
  --colors-gray-800: #1f2937;
  --colors-gray-900: #111827;
  --colors-white: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system;
}

button {
  font-family: inherit;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

.stroke-current {
  stroke: currentColor;
}

.bg-gray-50 {
  background-color: var(--colors-gray-50);
}

.bg-gray-100 {
  background-color: var(--colors-gray-100);
}

/* Layout */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.top-half {
  top: 50%;
}

.bottom-0 {
  bottom: 0px;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.z-10 {
  z-index: 10;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-80 {
  width: 20rem;
}

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-40 {
  height: 10rem;
}

.translateY-half {
  transform: translateY(-50%);
}

/* Typography */
.font-bold {
  font-weight: 700;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.uppercase {
  text-transform: uppercase;
}

/* Paddings */
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-4 {
  padding: 1rem;
}

/* Margins */
.mr-2 {
  margin-right: 0.5rem;
}

.last\:mr-0:last-child {
  margin-right: 0px;
}

.mr-3 {
  margin-right: 0.75rem;
}

.m-auto {
  margin: 0 auto;
}

/* Borders */
.border {
  border-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-100 {
  border-width: 1px;
  border-style: solid;
  border-color: var(--colors-gray-100);
}

.rounded-lg {
  border-radius: 0.5rem;
}

/* Opacity */
.opacity-30 {
  opacity: 0.3;
}

/* Shadows */
.shadow {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.drop-shadow-2xl {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
